<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= page_title_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preload" href="https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAnsSUYevIWzgPDA.woff2" as="font" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofA6sKUYevIWzgPDA.woff2" as="font" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAjsOUYevIWzgPDA.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofINeaBTMnFcQ.woff2" as="font" type="font/woff2" crossorigin>

    <%= tag :meta, name: 'environment', content: Packer.env %>

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,IntersectionObserver"></script>

    <%= javascript_pack_tag 'app.js' %>
    <%= stylesheet_pack_tag 'style.css' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/regular.css" integrity="sha384-EWu6DiBz01XlR6XGsVuabDMbDN6RT8cwNoY+3tIH+6pUCfaNldJYJQfQlbEIWLyA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css" integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">
  </head>

  <body>
    <div class="grid">
      <%= render 'layouts/header' %>
      <h1 class="page-title"><%= @page_title %></h1>
      <main class="site-main">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </main>
      <footer class="site-footer">
        <a class="github-link" href="https://github.com/lesleh/lesleh.co.uk3/" title="View source on GitHub">
          <i class="fab fa-github-alt"></i>
        </a>
      </footer>
    </div>
  </body>
</html>
