<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <%= page_title_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: 'environment', content: Packer.env %>

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,IntersectionObserver"></script>

    <%= javascript_pack_tag 'app.js' %>
    <%= stylesheet_pack_tag 'style.css' %>
  </head>

  <body>
    <div class="grid">
      <%= render 'layouts/header' %>
      <h1 class="page-title"><%= @page_title %></h1>
      <main class="site-main">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </main>
      <footer class="site-footer">
        <a class="github-link" href="https://github.com/lesleh/lesleh.co.uk3/" title="View source on GitHub">
          <i class="fab fa-github-alt"></i>
        </a>
      </footer>
    </div>
  </body>
</html>
